/* Общие стили */
body {
  font-family: Arial, sans-serif;
  background-color: rgb(36, 32, 29);
  overflow-x: hidden; 
    width: 100%;
    margin: 0;
    padding: 0;
}
 
html{ 
    scroll-behavior: smooth;
}

/* Шапка */
header { 
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-bottom: 3px solid rgb(219, 164, 96);
  border-radius: 20px;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
}
  
.logo img {
  display: block;
  height: 70px;
  width: 70px;
  border-radius: 20px;
  box-shadow: 3px 3px 42px rgba(144, 91, 91, 0.757);
}

.logo img:hover {
  transform: scale(1.05);
  transition: 0.42s;
}

.logo h1 {
  margin: 0;
  font-size: 24px;
  color: rgb(6, 159, 16);
}

.logo a{
  text-decoration: none;
  color: #fff236;
}

.logo a:hover{
  color: #ff0000;
  transition: 0.55s;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

nav a {
  text-decoration: none;
  color: rgb(87, 240, 98);
  font-weight: bold;
}

nav a:hover {
  color: #4f9aea;
  transition: 0.5s;
}

main{
  margin-top: 42px;
}

.bord{
  padding: 20px;
  margin: 10px;
  border: 2px solid rgb(231, 174, 18);
  border-radius: 42px;
}

.for_blocks{
  display: block;
  margin: 0px;
  border-radius: 5px;
}

.container { 
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  margin: 0;
}

.main-block {
  padding: 20px;
  border: 2px solid rgb(231, 174, 18);
  color: #ff6a00;
  border-radius: 10px;
  margin-bottom: 20px;
  text-align: center;
  transition: all 0.3s ease;
  max-width: 42%;
}

.main-block ul,
.main-block ol {
  list-style-position: inside;
  margin: 10px auto;      
  padding: 0;     
  text-align: left;
  display: inline-block;      
}

.main-block li {
  margin-left: 0;
  padding-left: 0;
  color: rgb(245, 126, 36); 
}


.main-block img {
  max-width: 80%;
  max-height: 420px;
  border-radius: 10px;
  margin-top: 10px;
}

button {
  display: block;
  font-weight: bold;
  font-size: 16px;
  margin: 20px 20px;
  padding: 10px 20px;
  background-color: #19605b;
  color: rgb(217, 0, 255);
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  color: #42fc03;
  background-color: #ff6a00;
  transform: translate(10px, -10px);
}
 
.blocks {
  display: flex;
  flex-direction: column;
  gap: 42px;
}

.item {
  background: linear-gradient(
        45deg,
      rgb(36, 32, 29) ,
      rgb(63, 58, 22) 50%,
      rgb(65, 59, 0) 100%
    );
  border: 2px solid gray;
  font-weight: bold;
  border-radius: 8px;
  padding: 10px;
  cursor: pointer;
  color: rgb(171, 231, 18);
  transition: transform 0.2s, 0.3s;
}

.item ul li, .item ol li{
  color: rgb(248, 44, 17);
}

.item:hover {
  background: #0f58cd;
  background: linear-gradient(
      #86e36e,
      #76dba8 100%
    );
  color: #ff4400;
  transform: scale(1.02);
}

/* Кандидаты и партии */
.candidates {
  padding: 20px;
  background-color: #1d1102;
  border: 3px solid rgb(219, 164, 96);
  margin: 20px;
  border-radius: 20px;
}

.candidates h2 {
  margin-bottom: 20px;
  color: #ff6f00;
}

.candidates-list {
  display: flex;
  overflow-x: auto; 
  gap: 50px;
  padding: 30px;
}

.candidate-card {
  flex: 0 0 auto; 
  width: 250px;
  height: 400px;
  text-align: center;
  border: 3px solid rgba(255, 95, 31, 0.6);

  background: linear-gradient(
      45deg,
      #1d1102 ,
      #432905 50%,
      #1d1102 100%
    );
  
  border-radius: 40px;
  margin: 20px;
  padding: 20px;
  box-sizing: border-box;
  color: #ff6f00;
}

.candidate-card:hover{
  transform: scale(1.05);
  transition: 0.5s;
}

.candidate-card img {
  width: 200px; 
  height: 200px;
  object-fit: cover;  
  border-radius: 30px;
  border: 3px solid rgba(255, 95, 31, 0.88);
}

.candidate-card h3 {
  margin: 20px 0 5px;
  font-size: 25px;
}


/* Подвал */
footer {
  padding: 20px;
  text-align: center;
  margin-top: 20px;
  border-top: 3px solid rgb(243, 237, 172);
}

footer p, li{
  margin: 0;
  color: rgb(180, 6, 6);
  font-size: 20px;
}

footer ul{
  list-style: none;
}

footer a {
  color: rgb(6, 159, 16);
  text-decoration: none;
  font-size: 20px;
}

footer a:hover {
  color: #ec1414;
  transition: 0.5s;
}

.impr{
  color: red;
  font-size: 35px;
}

.suggest-news-container {
  text-align: center;
  margin: 55px 0;
  padding: 20px;
  border-radius: 10px;
  border: 2px dashed rgb(243, 237, 172);
  background-color: rgb(114, 35, 35);
}

.suggest-news-btn {
  display: inline-block;
  padding: 12px 24px;
  color: rgb(6, 159, 16);
  text-decoration: none;
  border-radius: 5px;
  border: 3px solid #9c7f5c;
  font-weight: bold;
  transition: background-color 0.3s;
}

.suggest-news-btn:hover {
  background-color: #42e90c;
  color: rgb(8, 130, 236);
  transition: 0.42s;
}

.suggest-news-note {
  margin-top: 10px;
  color: rgb(14, 166, 201);
  font-size: 16px;
}

.vote{
  padding: 20px;
  margin: 20px;
  border: 3px solid rgb(243, 237, 172);
  border-radius: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  color: rgb(14, 166, 201);
}

.vote p {
  font-size: 20px;
}
.vote ul li{
  font-size: 20px;
  color: rgb(180, 6, 6);
}

.voteh2{
  margin-bottom: 20px;
}

.link-vote{
  text-decoration: none;
  transition: 0.5s;
  border-radius: 10px;
  color: #fff236;
}

.link-vote:hover{
  color: rgb(173, 165, 68);
  text-decoration: underline;
}

hr {
  border-color: #000;
} 

@media(max-width: 550px){
  header{
    padding: 20px;
    box-sizing: border-box;
  }

  nav ul{
    box-sizing: border-box;
    gap: 0px; 
  }

  header nav ul li a{
    font-size: 10px;
  }

  .logo {
  gap: 10px;
}

.logo img {
  height: 42px;
  width: 42px;
  border-radius: 80px;
}

.logo h1 {
  margin: 0;
  font-size: 10px;
  color: #ff0000;
}

  .main-block{
    max-width: 100%;
  }

  .container{
    flex-direction: column;
  }
}